<launch>

<!--    <node pkg="robby_track2" name="teleop" type="robby_teleop_key"/>
-->
    <node pkg="rqt_robot_steering" name="" type="rqt_robot_steering"/>
    <node pkg="rosserial_python" name="rosserial" type="serial_node.py">
            <param name="port" value="/dev/ttyACM0"/>
            <param name="baud" value="57600" />
    </node>
</launch>
